.App {
  text-align: center;
}

/*************** Header ***************/
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
}

.App-header h1 {
  font-weight: 600;
}

.open-button {
  cursor: pointer;
 
}

/*************** SideNavigation ***************/

.sidenav {
  color: white;
  height: 100%;
  position: fixed;
  max-width: 100%;
  z-index: 1;
  top: 10vh;
  left: 0;
  background-color: #282c34;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.3s;
}

.close-button {
  cursor: pointer;
}

.listelement-button {
  cursor: pointer;
  display: block;
  width: 200px
}

.open {
  width: 280px
}

.hidden {
  width: 0px
}

#map {
  height: 90vh;
}

/*************** Infowindow ***************/
